// Default Black Color
$black: #000000;

// Default White Color
$white: #ffffff;

$blue_primary: #0071a1;

$color_text-gray: #32373c;

$button_background-gray: #edeff0;
$button_background-gray-secondary: #f3f5f6;
$border_btn-gray: #b4b9be;
